<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIR-Citation-Generator</title>
    <style>
        textarea {
            height: 200px;
            width: 80%;
        }
    </style>

</head>

<body style="text-align: center; display: flex; justify-content: center; flex-direction: column; align-items: center;">

    <h1>WIR-Citation-Generator</h1>
    <div style="background-color: green; width: 50%; padding: 1rem 2rem">
        <h3>Usage</h3>
        <ul style="list-style-type: none;">
            <li>Export .bibTex (e. g. from bibsonomy)</li>
            <li>Copy from bibsonomy the raw bibtexFile</li>
            <li>Citation will be generated and can be copied</li>
        </ul>
        <button id="button">Show BibTex Example</button>
        <pre id="example" style="line-height: 1.2rem; display: none; text-align: left; background-color: beige;">
                    @ARTICLE{Cesar2013,
                        author = {Jean Paul},
                            title = {An amazing not so usual title},
                            year = {2011},
                            volume = {42},
                            pages = {21--42},
                            journal = {Amazing Journal}
                        }
                    </pre>
    </div>
    <form method="POST">
        <br />
        <br />
        <textarea id="textarea" name="file" rows="100" cols="50"></textarea>
        <br />
        <br />
        <label>From which year? (until now)</label>
        <input type="number" name="year" />
        <input type="submit" value="Generate Citation">
    </form>


    <script>
        var button = document.getElementById('button'); // Assumes element with id='button'

        button.onclick = function () {
            var example = document.getElementById('example');
            console.log("button pressed")
            if (example.style.display !== 'none') {
                example.style.display = 'none';
                button.textContent = "Show BibTex Example"
            }
            else {
                example.style.display = 'block';
                button.textContent = "Hide BibTex Example"
            }
        };
    </script>
</body>

</html>