<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIR-Citation-Generator</title>
    <style>
        textarea {
            height: 200px;
            width: 80%;
        }
    </style>

</head>

<body style="display: flex; justify-content: center; flex-direction: column;  align-items: center; text-align: center;">
    <h1>WIR-Citation-Generator</h1>
    <div style="background-color: green; width: 50%; padding: 1rem 2rem; border-radius: 2rem; color: white">
        <h3>Usage of Generator</h3>
        <ol style="text-align: left;">
            <li>Export publications from bibsonomy in BibTex Format</li>
            <li>Copy the raw bibtex Files from bibsonomy</li>
            <li>Paste in textarea</li>
            <li>Put in the year from which the citations should be used until now</li>
            <li>Citation will be generated and can be copied</li>
        </ol>
        <button id="button">Show BibTex Example</button>
        <div id="example_div" style="position: relative;  display: none; ">
            <button style="position: absolute; right: 2px; top: 2px" id="copy_btn" onclick="copyExample">
                Copy example
            </button>
            <pre id="example" style=" line-height: 1.2rem; text-align: left; border: 2px solid white;">
                        @ARTICLE{Cesar2013,
                            author = {Jean Paul},
                            title = {An amazing not so usual title},
                            year = {2013},
                            volume = {42},
                            pages = {21--42},
                            journal = {Amazing Journal}
                        },
                        @ARTICLE{Gunther2009,
                            author = {Gunther Paulmanns},
                            title = {A wonderful title},
                            year = {2009},
                            volume = {11},
                            journal = {Title of Journal}
                        }
            </pre>
        </div>
    </div>
    <form method="POST">
        <br />
        <br />
        <textarea id="textarea" name="file" rows="100" cols="50"></textarea>
        <br />
        <br />
        <label>From which year? (until now)</label>
        <input id="year" type="number" name="year" />
        <br />
        <br />
        <input type="submit" value="Generate Citation">
    </form>
    <p>If something went wrong or doesn't work like expected. Please write <a
            href="mailto:socialmedia.gedeon@posteo.de">me an email</a>.</p>

    <script>
        var button = document.getElementById('button');
        var textarea = document.getElementById('textarea');
        var year_input = document.getElementById('year');

        button.onclick = function () {
            var div = document.getElementById('example_div');
            console.log("button pressed")
            if (div.style.display !== 'none') {
                div.style.display = 'none';
                button.textContent = "Show BibTex Example"
            }
            else {
                div.style.display = 'block';
                button.textContent = "Hide BibTex Example"
            }
        };

        document.getElementById("copy_btn").onclick = function () {
            textarea.textContent = "@ARTICLE{Cesar2013, author = {Jean Paul},title = {An amazing not so usual title},year = {2013}, volume = {42}, pages = {21--42}, journal = {Amazing Journal}},\n@ARTICLE{Gunther2009,author = {Gunther Paulmanns}, title = {A wonderful title},year = {2009}, volume = {11}, journal = {Title of Journal}}"
            year_input.value = 2003;
        } 
    </script>
</body>

</html>